*{
  box-sizing: border-box;
}
div{
  height:100%
}

 html,body{
  width: 100%;
  height: 100%;
}
#root{
  margin:0;
  padding:0;
  min-height:100%;
  width:100%;
}

svg {
  border: 1px solid #666;
  margin: 5px;
  /* vertical-align: top; */
  height:60%;
  width: 40%;
  
}

svg text {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;

}


.main-body
    {
        
        padding: 12px 20px;
        margin: 0, 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid rgba(197, 120, 85, 0.575);
        box-sizing: border-box;
        background-color: hsl(36, 85%, 69%);
        background-size: cover;
        font-family: 'Grenze Gotisch', cursive;
        
        
        /* background-color: rgb(51, 127, 177); */
      }
      

  .navbar-container{
    background: url('./desert.jpg')no-repeat center fixed;     
    background-size: cover;
    font-family: sans-serif;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    

   }
  .navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .logo{
    color: rgb(220, 220, 238);
    font-family: 'Grenze Gotisch', cursive;
    font-size: 15vh;
  }

  .form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #5d4037;
    font-family: 'Roboto', sans-serif;
  }

  .health-data{
    height: 100%;
    background-color: hsl(22, 68%, 53%);
  }

  .legend-content{
    display:flex;
    flex-direction: column;
    width:10%;
    height:10%;
  }