*{
  box-sizing: border-box;
}
div{
  height:100%
}

 html,body{
  width: 100%;
  height: 100%;
}
#root{
  margin:0;
  padding:0;
  min-height:100%;
  width:100%;
}

svg {
  border: 1px solid #666;
  margin: 5px;
  /* vertical-align: top; */
  height:60%;
  width:40%;
  
}

svg text {
  font-family: sans-serif;
  font-size: 10px;

}


.main-body
    {
        
        padding: 12px 20px;
        margin: 0, 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid #ccc;
        box-sizing: border-box;
        

        /* background-color: rgb(51, 127, 177); */
      }

  .navbar-container{
    background-color: rebeccapurple;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:50%;
    

   }
  .navbar-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .logo{
    color: rgb(220, 220, 238);
    font-family: sans-serif;
    font-size: 40px;
  }

  .form-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .health-data{
    height: 100%;
  }

  